{% extends 'base.html' %}
{% load static %}

{% block js %}

{% endblock %}

{% block meta %}
    <title>Обсуждение заказа</title>
	<meta name="description" content="Обсуждение заказа в компании IT-hub">
{% endblock %}
{#main-section__content#}
{% block content %}
    <div class="main-section__products items-named">
        <div class="items-named__header">
            <p class="items-named__header-title">Заказ № {{ order.id }}</p>
            <a href="{% url 'cart:product_list_all' %}"><img class="button-icon" src="{% static 'blog/icon/buy1.svg' %}"></a>
        </div>
        {# Список заказа       #}
        {% for item in product %}
            <div class="items-named__product-cart" id="{{ item.product.id }}">
                <a href="{% url 'cart:product_list_all' %}"><img class="items-named__product-cart__img" src="{{ item.product.image.url }}" alt=""></a>
                <div class="items-named__product-cart__dsc">
                    <p class="items-named__product-cart__dsc-title">{{ item.product.name }}</p>
                    <p class="items-named__product-cart__dsc-date">Срок принятия заказа: {{ item.product.processing_date }}</p>
                </div>
                <div class="items-named__product-cart__price">
                    <div>
                        <p class="items-named__product-cart__price-value">{{ item.total_price }}₽</p>
                        <p class="items-named__product-cart__price-dsc">за услугу</p>
                    </div>
                    <button class="button-icon items-named__cart-button-remove"><img src="{% static 'blog/icon/remove.svg' %}"></button>
                </div>
            </div>
        {% endfor %}
        <div class="items-named__product-cart__total">
            <p>Итого: <span class="items-named__product-cart__total-value">{{ order.total_price }}</span>₽</p>
            {% if order.status == 'PROCESSING' %}
                <p class="items-named__product-orders__dsc">Статус заказа: <span class="color-yellow">{{order.get_status_display}}</span></p>
            {% elif order.status == 'WORK' %}
                    <p class="items-named__product-orders__dsc">Статус заказа: <span class="color-orange">{{order.get_status_display}}</span></p>
            {% elif order.status == 'COMPLETED' %}
                    <p class="items-named__product-orders__dsc">Статус заказа: <span class="color-green">{{order.get_status_display}}</span></p>
            {% elif order.status == 'CANCELED' %}
                    <p class="items-named__product-orders__dsc">Статус заказа: <span class="color-red">{{order.get_status_display}}</span></p>
            {% endif %}
            
            {% if order.date_complete %}
                        <p class="items-named__product-orders__dsc">Дата выполнения: {{ order.date_complete|date:'d.m.Y' }}</p>
                    {% else %}
                        <p class="items-named__product-orders__dsc">Дата выполнения: –</p>
                    {% endif %}
        </div>
    </div>
    {# Чат #}
    <div class="main-section__order-chat">
        <p class="main-section__order-chat__date">дата заказа: {{ order.date|date:'d.m.Y' }}</p>
    </div>
{% endblock %}