{% extends 'base_login_registration.html' %}
{% load static %}
{% block meta %}
    <title>Регистрация</title>
	<meta name="description" content="Регистрация в IT-hub">
{% endblock %}

{% block form %}
    <div class="main-registration__form">
        <img src="{% static 'blog/img/logo.svg' %}" alt="" srcset="">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
                <div class="main-registration__form_input">
                    <div><label for="{{ f.id_for_label }}">{{ f.label }}</label></div>
                    {% if f.errors %}
                        <div class="main-registration__form-error">{{ f.errors }}</div>
                        <div class="main-registration__form-input-error">{{ f }}</div>
                    {% else %}
                        {{ f }}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="orange-button" type="submit">Зарегистрироваться</button>
            <a href="{% url 'users:login' %}">Уже зарегистрированы?</a>
            <a href="#">Проблемы с регистрацией?</a>
        </form>    
    </div>
{% endblock %}