{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Лента</title>
	<meta name="description" content="Новости IT-hub">
{% endblock %}
{% block content %}
    <div class="main-section__new-post lenta">
        <div class="main-section__input-post">
            <img class="image-icon" src="{{ profile.img }}" />
            <textarea wrap="soft" rows="4" maxlength="280" placeholder="Что у вас нового ? "></textarea>
        </div>
        <div class="main-section__share-post">
            <button class="main-section__select-category-btn">
                Выбрать категорию
                <img src="{% static '/blog/icon/стрелка.svg' %}" />
            </button>
        </div>    
    </div>
    {% for post in posts %}
        {% include 'base_post.html' with post=post only %}
    {% endfor %}
{% endblock %}