{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'blog/js/reaction_btn_script.js' %}"></script>
{% endblock %}
{% block meta %}
    <title>Лента</title>
	<meta name="description" content="Новости IT-hub">
{% endblock %}
{% block content %}
    <form action="" method="post"> 
        {% csrf_token %}
        <div class="main-section__new-post lenta">
            <div class="main-section__input-post">
                <img class="image-icon" src="{{ profile.photo.url }}" />
                {{ form.text }}
            </div>
            <div class="main-section__share-post">
                {{ form.category }}
                <button class="orange-button" type="submit">поделиться</button>
            </div>    
        </div>
    </form>
    {% for post in posts %}
        {% include 'base_post.html' with post=post only %}
    {% endfor %}
{% endblock %}