{% extends 'base_login_registration.html' %}
{% load static %}
{% block meta %}
    <title>Регистрация</title>
	<meta name="description" content="Регистрация в IT-hub">
{% endblock %}

{% block form %}
    <div class="main-registration__form">
        <img src="{% static 'blog/img/logo.svg' %}" alt="" srcset="">
        <div class="main-registration__form_input">

        </div>
        <a href="#">Проблемы с регистрацией?</a>
        <button class="orange-button">Зарегистрироваться</button>
    </div>
{% endblock %}

		
